body {
	padding: 10px;
	margin: 1%;
}

header {
	background-color: #848E66;
	background-image: url("../images/flywheel.jpg");
	background-size:100%;
	padding:20px;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	text-transform: uppercase;
}

nav a{
	display: inline-block;
	margin: 2%;
		
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	-o-border-radius: 3;
	border-radius: 5px;

	text-decoration: none;
	padding: 2%;

	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(218,234,213,0.60);
	width:150px;
	height: 20px;
}

.active {
	background-color: #FFFFFF;
}

.left {
	background-color: #848E66;
	width: 24%;
	float:left;
	padding: 5% 0;
}

.right {
	width:74%;
	display: inline-block;
	padding-left: 2%;
}

.left img {
	border: solid 1px #000000;
	width: 80%;
	margin: 10%;
}